

.alinhado-esquerda {
text-align: left;
}
.alinhado-direita {
text-align: right;

}
.alinhado-centro {
text-align: center;

}


/* ------- Alinhamento justificado ----------- */

.alinhado-justificado {

    text-align: justify;
}
.fundo-alinhamento{background-color: #555;}
/* ----------------- Text Trasnform----------------- */
.maiuscula{text-transform: uppercase;}

.minuscula{text-transform: lowercase;}

.capitalizado{text-transform: capitalize;}
.fundo-transform {background-color: peru;}
/* -------------- Text Decoration ------------- */
.sublinhado{

    text-decoration: underline;
}
.linha-sobreposta{

    text-decoration: line-through;
}
.sem-text-decoration{

    text-decoration: none;
}
.fundo{

    background-color: #808080;}

    /* --------------Sombra no texto-------------- */

    .altura-entre-linhas{
line-height: 40px;

    }
    .sombra-de-texto{

        text-shadow: 2px 2px 1px #808080;
    }

.fundo-alinhamento{

    padding: 20px;
}