/* .container-cascata {
background-color: aqua;

}
.container-cascata{ 

background-color: orange;

} */


           /* --------Especifidades--------- */


           p {background-color: lightblue;

           }

           .container-especifidade p {
            background-color:chartreuse;


           }
           #meu-paragrafo {
            background-color: violet
           }

