* {
margin: 0px
;
padding: 0px
    ;}
ol  li{

 list-style-image: url('./img/icon.png');  
/* list-style : square url('./img/icon.png') */
background-color: blue;
border: 1px solid black;
}

ul li {

border: 1px solid black;

}
ul {list-style-image: url('./img/icon.png');  
    /* list-style : square url('./img/icon.png') */
    

}

    